#two-d {
  position: fixed;
  z-index: 2;
  display: none; }
  #two-d .close {
    position: fixed;
    right: 40px;
    top: 40px;
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    border: 3px solid #fff;
    border-radius: 24px;
    display: block;
    font-weight: bold;
    font-size: get-em(24);
    cursor: pointer;
    z-index: 99; }
    #two-d .close span {
      -ms-transform: scaleX(1.2);
          transform: scaleX(1.2);
      display: block;
      position: relative;
      left: 15px;
      top: 4px; }
  @media only screen and (max-width: 768px) {
    #two-d .close {
      top: 12px;
      right: 12px;
      width: 35px;
      height: 35px;
      font-size: get-em(18px); }
      #two-d .close span {
        left: 11px;
        top: 3px; } }

#two-d .ui {
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

#two-d .ui .apps, #two-d .ui .sub-content {
  display: none;
  position: absolute;
  top: 0;
  left: 45%;
  width: calc(55% - 100px); }
  #two-d .ui .apps h2, #two-d .ui .sub-content h2 {
    font-size: get-em(28);
    margin: 60px 0 20px 0; }
  #two-d .ui .apps .sub-slice, #two-d .ui .sub-content .sub-slice {
    height: 40px;
    font-size: get-em(20px);
    margin-bottom: 5px;
    box-sizing: border-box;
    padding: 7px 16px;
    color: #fff;
    background-color: #8d999e; }
  #two-d .ui .apps .app, #two-d .ui .sub-content .app {
    cursor: pointer;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    color: #fff;
    background: #666;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 5px 5px 0;
    font-size: get-em(30);
    text-align: center;
    padding-top: 14px;
    box-sizing: border-box; }
  @media only screen and (max-width: 768px) {
    #two-d .ui .apps, #two-d .ui .sub-content {
      left: 15%;
      width: calc(85% - 40px); } }

#two-d .ui-1 ul {
  list-style: none; }

#two-d .ui-1 li {
  cursor: pointer;
  position: absolute;
  height: 60px;
  font-size: get-em(24px);
  box-sizing: border-box;
  padding: 15px 25px;
  left: 45%;
  width: calc(55% - 100px); }
  #two-d .ui-1 li.ui-1-0 {
    background-color: #84d1fb;
    top: -28px; }
  #two-d .ui-1 li.ui-1-1 {
    background-color: #66c4f7;
    top: -12px; }
  #two-d .ui-1 li.ui-1-2 {
    background-color: #36b1f5;
    top: 3px; }
  #two-d .ui-1 li.ui-1-3 {
    background-color: #019df2;
    top: 6px; }
  #two-d .ui-1 li.ui-1-4 {
    background-color: #0077c7;
    top: 8px; }
  #two-d .ui-1 li.ui-1-5 {
    background-color: #03438b;
    top: 8px; }
  #two-d .ui-1 li.ui-1-6 {
    background-color: #000055;
    top: 8px; }

@media only screen and (max-width: 768px) {
  #two-d .ui-1 li {
    left: 15%;
    width: calc(85% - 40px);
    height: 45px;
    font-size: get-em(20px);
    padding: 10px 20px; } }

#app-modal {
  z-index: 1001;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  #app-modal .inner {
    background-color: #333;
    width: 90%;
    max-width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    padding: 40px 40px;
    -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%); }
    #app-modal .inner .icon {
      float: left;
      width: 30%;
      font-family: 'Material Icons';
      font-style: normal;
      font-weight: normal;
      color: #fff;
      font-size: get-em(120px); }
    #app-modal .inner .about {
      float: left;
      width: 70%; }
      #app-modal .inner .about h1 {
        font-size: 30px;
        margin-bottom: 15px; }
      #app-modal .inner .about p {
        font-size: 16px;
        margin: 0; }
    #app-modal .inner .close {
      cursor: pointer;
      position: absolute;
      top: 12px;
      right: 12px;
      width: 30px;
      height: 30px;
      box-sizing: border-box;
      border: 2px solid #fff;
      border-radius: 15px;
      display: block;
      font-weight: bold;
      font-size: get-em(14);
      cursor: pointer;
      z-index: 99; }
      #app-modal .inner .close span {
        -ms-transform: scaleX(1.2);
            transform: scaleX(1.2);
        display: block;
        position: relative;
        left: 11px;
        top: 4px; }

#top-ui {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  #top-ui .top-content {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 40%; }
    #top-ui .top-content h2 {
      font-size: get-em(24);
      padding: 15px 30px;
      font-weight: bold;
      background-color: #333;
      position: relative; }
      #top-ui .top-content h2 span.close {
        display: block;
        position: absolute;
        right: 20px;
        top: 15px;
        font-weight: bold;
        font-size: get-em(16);
        cursor: pointer; }
    #top-ui .top-content ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%; }
      #top-ui .top-content ul li {
        background-color: #FFFFFF;
        padding: 10px 20px;
        margin: 10px 0;
        color: #333; }
    #top-ui .top-content.top-0 h2 {
      background-color: #84d1fb; }
    #top-ui .top-content.top-1 h2 {
      background-color: #66c4f7; }
    #top-ui .top-content.top-2 h2 {
      background-color: #36b1f5; }
    #top-ui .top-content.top-3 h2 {
      background-color: #019df2; }
    #top-ui .top-content.top-4 h2 {
      background-color: #0077c7; }
    #top-ui .top-content.top-5 h2 {
      background-color: #03438b; }
    #top-ui .top-content.top-6 h2 {
      background-color: #000055; }

#output {
  display: none; }
