/* -----------------------------------------
   Variables
----------------------------------------- */

$line-height-base: 2.5;
$font-size-base: 16;

$em-base: 16;
$max-width: 1120px;//1440px; // max width that desktop expands to

$color-bg: #888;
$color-body-text: #fff;

$color-chainSet1: #9f4375; // magenta - social sentiment
$color-chainSet2: #4676a6; // blue - openness to AI
$color-chainSet3: #b28bdc; // violet - top trending MWC topics


$time-xslow: 1s;
$time-slow: 0.5s;
$time: 0.35s;
$time-fast: 0.15s;
$ease: ease-in-out;
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);




