/* -----------------------------------------
   Font variables
   Type styles
----------------------------------------- */

$body: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$body-light: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$body-bold: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

body {
  font-family: $body;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: $body-light;
  font-weight: normal;
  font-style: normal;
  font-size: get-em(40px);
  margin:0;
  line-height: 1.2;
}

h2 {
  font-family: $body-light;
  font-weight: normal;
  font-size: get-em(40px);
  line-height: 1.1;
  margin: 0;
}

p {
  font-family: $body-light;
  font-weight: normal;
  font-size: get-em(20px);
  line-height: 1.2;
}