

#top-ui {
  position:fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .top-content {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 40%;

    h2 {
      font-size: get-em(24);
      padding: 15px 30px;
      font-weight: bold;
      background-color: #333;

      position: relative;
      span.close {
        display: block;
        position : absolute;
        right: 20px;
        top: 15px;
        font-weight: bold;
        font-size: get-em(16);
        cursor: pointer;

      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;

      li {
        background-color: #FFFFFF;
        padding: 10px 20px;
        margin: 10px 0;
        color: #333;
      }
    }

    &.top-0 {
      h2 {
        background-color: #84d1fb;
      }
    }
    &.top-1 {
      h2 {
        background-color: #66c4f7;
      }
    }
    &.top-2 {
       h2 {
         background-color: #36b1f5;
       }
     }
    &.top-3 {
      h2 {
        background-color: #019df2;
      }
    }
    &.top-4 {
      h2 {
        background-color: #0077c7;
      }
    }
    &.top-5 {
      h2 {
        background-color: #03438b;
      }
    }
    &.top-6 {
      h2 {
        background-color: #000055;
      }
    }
  }
}